[submodule "biscuit"]
	path = externals/biscuit
	url = git@github.com:tencentmalos/biscuit.git
[submodule "catch"]
	path = externals/catch
	url = git@github.com:tencentmalos/catch2.git
[submodule "fmt"]
	path = externals/fmt
	url = git@github.com:tencentmalos/fmt.git
[submodule "mcl"]
	path = externals/mcl
	url = git@github.com:tencentmalos/mcl.git
[submodule "oaknut"]
	path = externals/oaknut
	url = git@github.com:tencentmalos/oaknut.git
[submodule "robin-map"]
	path = externals/robin-map
	url = git@github.com:tencentmalos/robin-map.git
[submodule "xbyak"]
	path = externals/xbyak
	url = git@github.com:tencentmalos/xbyak.git
[submodule "zycore"]
	path = externals/zycore
	url = git@github.com:tencentmalos/zycore-c.git
[submodule "zydis"]
	path = externals/zydis
	url = git@github.com:tencentmalos/zydis.git
